body {
	
	font-size:12px;
	padding-bottom: 40px;
	
}
.container-fluid{padding-top: 20px;}

/*Nav bar*/
.navbar .brand {
  display:block;
  float:left;
  font-size:20px;
  font-weight:200;
  padding:10px 20px;
  margin-left:-15px;
}

.navbar .nav > li > a {
  float:none;
  padding:10px 15px;
  text-decoration:none;
}

.navbar-search .search-query {
  border-radius:5px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	.container-fluid{padding-top: 100px;}
    .main-body .container-fluid-home{padding-top: 20px;}
	.navbar .brand {margin-left:-75px;}
	.style-switcher{margin-left:-70px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	.container-fluid{padding-top: 100px;}
    .main-body .container-fluid-home{padding-top: 20px;}
	.navbar .brand {margin-left:-90px;}
	.style-switcher{margin-left:-70px;}
}

table.detail-view td {font-size:12px;}
h1,h2,h3,h4, .portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar a, th{
	font-family: 'Carrois Gothic', sans-serif;
}

.portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar li > a, th{
	font-size:14px!important;
}
/* Start Portlets*/
.portlet{
-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
  border:1px solid #DDDDDD;
  border-radius:3px;
  box-shadow:#F9F9F9 0 1px 0 inset;
  margin-bottom:20px;
  min-height:40px;

}

.portlet-decoration{
	border-bottom:1px solid #DDD;
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

  margin-right:5px;

}
.portlet-content{
	padding:5px;
}

/* end Portlets*/
.navbar {
  margin-bottom:0px;
  overflow:visible;
}

.summary ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.summary ul li {
height: 52px;
clear: both;
margin-bottom: 14px;
}

.summary ul li .summary-icon {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}

.summary ul li .summary-number {
font-size: 20px;
font-weight: bold;
display: block;
padding-top: 8px;
}

.summary ul li .summary-title {
display: block;
text-transform: uppercase;
font-size: 11px;
color: #AB4000;
}

.stat-block {
margin-bottom: 20px;
padding: 10px;
min-height:40px;
background: #F1F1F1;
background: -moz-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
background: -webkit-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -o-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -ms-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #F9F9F9;
-moz-box-shadow: inset 0 1px 0 #f9f9f9;
box-shadow: inset 0 1px 0 #F9F9F9;
}

.stat-block ul {
margin: 0px;
padding: 0px;
}

.stat-block li {
list-style: none;
float: left;
}

.stat-block .stat-graph {
width: auto;
background: white;
padding: 10px 10px 8px 10px;
border: #D7D7D7 1px solid;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
}

.stat-block .stat-count {
width: 90px;
}

.stat-block .stat-count span:last-child {
color: #666;
font-size: 12px;
font-weight: normal;
padding-top:3px;
}

.stat-block li span {
display: block;
}

.stat-block .stat-count span:first-child {
color: #1D2E7B;
font-weight: bold;
font-size: 20px;
}

.stat-block .stat-percent {
width: 40px;
float: right !important;
text-align: center !important;
}

.stat-percent{
	 font-size: 20px;
	 font-weight: bold;
 }
 /*Navbar*/
 .navbar-fixed-top {
  top:0;
  left:0;
}
 
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}
/*Side Nav*/
.sidebar-nav {
  padding:0!important;
}

.sidebar-nav ul{
  padding:0;
  margin:0;
}

.sidebar-nav ul li{
  list-style: none;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .sidebar-nav ul > li > span {
	padding:9px 15px;
	margin-bottom:3px;
	display:block;
}

.sidebar-nav ul > li > a {
	
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	
	-webkit-box-shadow:3px 0px 3px #FFFFFF inset;
	border:1px solid #DDDDDD;
	border-radius:3px;
	box-shadow:3px 0px 3px #FFFFFF inset;
  color: #468847;
  font-weight: bold;
	text-decoration:none;
  text-shadow:1px 1px 0 #FFFFFF;
}

.sidebar-nav ul > li > a:hover {
  background-image:auto;
  box-shadow:3px 0 0 #468847 inset;
  color: #4C4C4C;
  /*border-left:4px solid #444444;*/
}
.subnav.navbar-fixed-top {
  top:40px;
  z-index:1;
}

.sidebar-nav2{
  height: 100%;
  overflow: auto;
}
.sidebar-nav2 ul > li > a {
  background-color: transparent;
  background-image: none;
  border:1px solid #eee;
  border-radius:3px;
  color: #468847;
  box-shadow:3px 0 0 #468847 inset;
  font-weight: bold;
  text-decoration:none;
  text-shadow:1px 1px 0 #FFFFFF;
}
.sidebar-nav2 ul > li > a:hover, .sidebar-nav2 ul > li.active > a{
  background-color: #D2FF97;
}

/*Progress bar*/
.progress, .ui-progressbar {
	height:10px;
}

.ui-progressbar {
  border:0;
  border-radius:4px;
  clear: both;
  margin-bottom:20px;
}

.ui-progressbar.ui-widget-content {
	-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	background-color:#F7F7F7;
	background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	overflow:hidden;
}

.ui-progressbar .ui-widget-header{
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow: none;
	box-sizing:border-box;
	color:#FFFFFF;
	float:left;
	height:100%;
	border:0;/**/
}
.ui-progressbar .ui-progressbar-value {
  margin:0;
}


.ui-progressbar .ui-widget-header {
  -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  -webkit-transition:width 0.6s ease;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing:border-box;
  color:#FFFFFF;
  float:left;
  font-size:12px;
  height:100%;
  text-align:center;
  text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
  width:0;
}

.progress-info .ui-widget-header, .progress-info.ui-slider.ui-widget-content  {
  background-color:#4BB1CF !important;
  background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
  background-repeat:repeat no-repeat;;
}

.progress-success .ui-widget-header, .progress-success.ui-slider.ui-widget-content  {
  background-color:#5EB95E  !important;
  background-image:-webkit-linear-gradient(top, #62C462, #57A957);
  background-repeat:repeat no-repeat;
}

.progress-warning .ui-widget-header, .progress-warning.ui-slider.ui-widget-content {
  background-color:#FAA732 !important;
  background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
  background-repeat:repeat no-repeat;
}

.progress-danger .ui-widget-header, .progress-danger.ui-slider.ui-widget-content  {
  background-color:#DD514C !important;
  background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
  background-repeat:repeat no-repeat;
}

.progress-striped .ui-widget-header, .progress-striped.ui-slider.ui-widget-content  {
  -webkit-background-size:40px;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  background-repeat:repeat;
}

.active.ui-progressbar .ui-widget-header {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
/*slider*/
.ui-slider{
	margin-bottom:20px;
}

.ui-slider.ui-widget-content{
	-webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	-webkit-transition:width 0.6s ease;
	background-color:#149BDF;
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	box-sizing:border-box;
	border:none;
}

/*Table*/
.table > table{
	width:100%;
}

/*CGridview*/
.filters select, .filters input, .filters .uneditable-input {
  border-radius:none;
  font-size:14px;
  height:20px;
  line-height:10px;
  margin-bottom:0;
  padding:0;
}


#yt0{
	margin-top:-10px;
}

/*Pagination*/

.pager{
	margin:20px 0;
}
.pager ul{
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  border-radius:0px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  display:inline-block;
  margin-bottom:0;
  margin-left:0;
  text-align:center;
}

.pager a, .pager span{
	
	margin-left:3px;
  border-radius:0;
}

.pager ul > li.last > a, .pager ul > li.last > span {
  border-left-radius:4px;
}

.pager ul > li > a, .pager ul > li > span {
  background-color:#FFFFFF!important;
  border-color:#DDDDDD!important;
  border-style:solid;
  border-width:1px 1px 1px 0;
  float:left;
  line-height:20px;
  padding:4px 12px!important;
  text-decoration:none;
}

.pager ul > li.first > a, .pager ul > li.first > span {
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;
}

ul.yiiPager li.hidden{
	display:none!important;	
}

/*CListView*/
.list-view div.view{
	
	border:solid 1px #DDDDDD;
	padding: 10px;
	margin-bottom:10px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
	box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
	border-radius:4px;
	
}

/*Form*/
.filters input, .filters .uneditable-input {
  width:100% !important;
}

div.form > form  .row {
  margin-left:0px;
}

/*Footer*/
footer {
	margin-top:10px;
	text-align:center;
}
/*Style switcher*/
.style-switcher
{
	padding-top:13px;
}
.style-switcher span.style
{
	width:16px; 
	height:16px; 
	display:block;
	margin-right:5px;
	float:left;
}

/*Button styles*/
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#sideMenu i{margin-top: -1px;}
.header {
    margin-top: 81px;
    position: relative;
    padding: 40px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #70d900 ; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #70d900  0%, #278B00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#70d900 ), color-stop(100%,#278B00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #70d900  0%,#278B00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #70d900  0%,#278B00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #70d900  0%,#278B00 100%); /* IE10+ */
    background: linear-gradient(45deg,  #70d900  0%,#278B00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d900 ', endColorstr='#278B00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.header h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.header p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.header a {
    color: #fff;
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.header a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.section-block {
    border-bottom: 1px dotted #ccc;
    display: block;
	font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar .brand {
  color:#eee;
  text-shadow:#444444 0 1px 1px;
}

.navbar-inverse .navbar-inner {
  
  background-color: #468847;
  background-image: -moz-linear-gradient(top, #468847, #409647);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468847), to(#409647));
  background-image: -webkit-linear-gradient(top, #468847, #409647);
  background-image: -o-linear-gradient(top, #468847, #409647);
  background-image: linear-gradient(to bottom, #468847, #409647);
  background-repeat: repeat-x;
  border-color: #468847;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff468847', endColorstr='#ff409647', GradientType=0);
  color:#eee;
}

.navbar .nav > li > a {
  color:#eee;
  text-shadow:#444444 0 1px 1px;
}

.navbar .operations > li > a {
  color:#1d2e7b;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #468847;
  background-image:  url('../img/active-menu-arrow.png');
  background-position: bottom center; 
  background-repeat: no-repeat;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #468847;
}

.navbar-inverse .navbar-search .search-query {
  color:#111111;
  background-color:#dedede;
  border-color:#dedede;
}

.navbar-inverse .divider-vertical {
  border-right-color: #39436d;
  border-left-color: #20317d;
}

.yiiPager > li > a{
	color: #468847!important;
}

.yiiPager .selected a {
  font-weight:bold;
  color:#DEDEDE !important;
  text-shadow:#CCCCCC 0 0 0;
  background-color: #468847;
  background-image: -moz-linear-gradient(top, #468847, #409647);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468847), to(#409647));
  background-image: -webkit-linear-gradient(top, #468847, #409647);
  background-image: -o-linear-gradient(top, #468847, #409647);
  background-image: linear-gradient(to bottom, #468847, #409647);
  background-repeat: repeat-x;
  border-color: #468847;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff468847', endColorstr='#ff409647', GradientType=0);
}

.date{
  margin-right: 10px;
  font-style: italic;
  line-height: 39px;
  /*text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;*/
  text-shadow:#ffffff 0 1px 1px;
}

#rumah-picture img{
	width:200px;
	height:140px;
}

.warning-info{
  background: transparent url('../img/warning-info.png') no-repeat 0 0 ;
  display: block;
  min-height: 48px;
  padding-left: 55px;
}
.warning-info.one-line{
    line-height: 48px;
}
.warning-soft{
  background: transparent url('../img/warning-soft.png') no-repeat 0 0 ;
  display: block;
  min-height: 32px;
  padding-left: 40px;  
}
.warning-soft.one-line{line-height: 32px;}
.alert-block{
  background-image: url('../img/warning.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 48px;
}
.help-block{
  background: url("../img/warning-soft.png") no-repeat scroll 2px 4px #D9EDF7;
  border-radius: 4px;
  border: 1px solid #BCE8F1;
  color: #3A87AD;
  display: block;
  min-height: 32px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px 35px 0 39px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.help-block.error{
  background: url("../img/warning-20.png") no-repeat scroll 0 0 #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
  min-height: 0;
  padding: 0 30px 0;
}
.error input{
  border: 1px solid #B94A48;
}
.error .errorMessage{
  color: #B94A48;
}
.left-menu{display: inline-block;}
.float-leftmenu{
  border-right: 3px solid #468847;
  border-bottom: 3px solid #468847;
  bottom: 41px;
  left: 0;
  position: fixed;
  top: 81px;
  background-color: #efefef;
  z-index: 10001;
    
  -moz-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:  2px 1px 6px 0px rgba(0, 0, 0, 0.4);      
  box-shadow:  2px 1px 6px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;

}
.float-leftmenu.span3{
  display: none;
}
.float-leftmenu.span3.active{
  display: block;
}
.float-menu-btn{
  border-right: 3px solid #468847;
  cursor: pointer;
  font-weight: bold;
  padding: 0 2px;
  position: fixed;
  text-align: center;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  top: 108px;
  z-index: 1000;
/*  -moz-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
*/
  -moz-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:  2px 1px 6px 0px rgba(0, 0, 0, 0.4);      
  box-shadow:  2px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
.btn.btn-danger.btn-square{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
} 
.float-menu-title{
  background-color: #468847;
  border-bottom: 3px solid #468847;
  color: #FFFFFF;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  padding-left: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

  -webkit-box-shadow: 0px 4px 6px 0px rgba(30, 30, 30, 0.4);
  box-shadow: 0px 4px 6px 0px rgba(30, 30, 30, 0.4);

}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    float: left;
    height: 6px;
} 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: rgba(70, 136, 71, 0.5); 
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.5); 
    background: #468847; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #468847; 
}

/* REPORT */
.center{text-align:center;}
.left{text-align:left;}
/*not compatible with other*/
/*.right{text-align:right;}*/

#report-title{
	font-size:14px;
	background-color:#dadada;
	font-weight:bold;
	display:inline-block;
}

#report-sub-title{
	font-size:16px;
	font-weight:bold;
	margin-top:15px;
}

#report-filter{
	margin-top:20px;
}
.form-actions button[type="submit"]{float:right;}
.boxlogin {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  -moz-box-shadow: 0 10px 12px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 10px 12px rgba(0,0,0,0.4);
  box-shadow: 0 10px 12px rgba(0,0,0,0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#c9c8c7');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#c9c8c7')";
  background-image: -moz-linear-gradient(top, #ffffff, #c9c8c7);
  background-image: -ms-linear-gradient(top, #ffffff, #c9c8c7);
  background-image: -o-linear-gradient(top, #ffffff, #c9c8c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#c9c8c7));
  background-image: -webkit-linear-gradient(top, #ffffff, #c9c8c7);
  background-image: linear-gradient(top, #ffffff, #c9c8c7);

}
.boxlogin:after {
  content: "Silahkan login";
  position: absolute;
  top: -4px;
  left: 20px;
  right: 20px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;

  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
}
#albumForm form{
  margin: 0;
}